p
    margin-bottom: 1em
    margin-top: 1em
    
ul
    margin-bottom: 1em
    margin-top: 1em

::-moz-selection
  color: $text-color-primary-inverse
  background: $background-color-tertiary-inverse

::selection
  color: $text-color-primary-inverse
  background: $background-color-tertiary-inverse

