@import url("https://rsms.me/inter/inter.css");
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.button-group {
  display: inline-block;
}

.button {
  display: inline-block;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  margin: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: content-box;
  transition: all 0.2s;
}

.button-large {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.1875rem;
  line-height: 1.25;
  letter-spacing: -0.015rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.button-medium {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: -0.011rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.button-small {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.25;
  letter-spacing: -0.0025rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.button-primary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.button-primary:hover, .button-primary:focus {
  background-color: #343434;
  border-color: #343434;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}
.button-primary:active {
  background-color: #252525;
  border-color: #252525;
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.button-secondary {
  background-color: #343434;
  border-color: #343434;
  color: #ffffff;
}
.button-secondary:hover, .button-secondary:focus {
  background-color: #454545;
  border-color: #454545;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}
.button-secondary:active {
  background-color: #343434;
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.button-tertiary {
  background-color: transparent;
  border-color: #000000;
  color: #000000;
}
.button-tertiary:hover, .button-tertiary:focus {
  background-color: #343434;
  border-color: #343434;
  color: #ffffff;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}
.button-tertiary:active {
  background-color: #252525;
  border-color: #252525;
  color: #ffffff;
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.button-text {
  background-color: transparent;
  border-color: transparent;
  color: #000000;
}
.button-text:hover, .button-text:focus {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
.button-text:active {
  background-color: #e2e2e2;
  border-color: #e2e2e2;
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: -0.011rem;
  font-weight: 400;
  color: #000000;
  text-align: left;
}

header {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  background-color: #ffffff;
}
header:after {
  content: "";
  display: table;
  clear: both;
}

.header-wrapper {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  background-color: #ffffff;
}
.header-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.header-filler {
  height: 6rem;
}

.logo {
  float: left;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.022rem;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.main-nav {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: -0.011rem;
  font-weight: 500;
  color: #000000;
  text-align: left;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}
.main-nav:after {
  content: "";
  display: table;
  clear: both;
}
.main-nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.main-nav li a {
  padding: 0.5rem;
}

#hero {
  display: block;
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-color: #ffffff;
}

.hero-title {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 3.25rem;
  line-height: 1.25;
  letter-spacing: -0.022rem;
  font-weight: 700;
  color: #515151;
  text-align: center;
}

.hero-title-alt {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 3.25rem;
  line-height: 1.25;
  letter-spacing: -0.022rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.hero-buttons {
  margin-top: 6rem;
  text-align: center;
  list-style-type: none;
}
.hero-buttons li {
  display: inline-block;
}

.section-wrapper {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-title {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 3.25rem;
  line-height: 1.25;
  letter-spacing: -0.022rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 2rem;
}

.section-title-inverse {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 3.25rem;
  line-height: 1.25;
  letter-spacing: -0.022rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
}

.section-paragraph {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.1875rem;
  line-height: 1.5;
  letter-spacing: -0.015rem;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.section-paragraph-inverse {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.1875rem;
  line-height: 1.5;
  letter-spacing: -0.015rem;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

#hero {
  background-color: #ffffff;
}

#vision, #design-systems {
  background-color: #161616;
}

#pains, #benefits {
  background-color: #ffffff;
}

#strategy, #cta {
  background-color: #f2f2f2;
}

.cta-buttons {
  margin-top: 2rem;
  text-align: center;
  list-style-type: none;
}
.cta-buttons li {
  display: inline-block;
}

footer {
  background-color: #161616;
}

article {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.article-img {
  padding-top: 4rem;
  background-size: 4rem;
  margin-bottom: 1rem;
}

.article-img-1 {
  background: url(../img/1.svg) no-repeat center;
}

.article-img-2 {
  background: url(../img/2.svg) no-repeat center;
}

.article-img-3 {
  background: url(../img/3.svg) no-repeat center;
}

.article-img-4 {
  background: url(../img/4.svg) no-repeat center;
}

.article-img-5 {
  background: url(../img/5.svg) no-repeat center;
}

.article-img-6 {
  background: url(../img/6.svg) no-repeat center;
}

.article-img-7 {
  background: url(../img/7.svg) no-repeat center;
}

.article-eyebrow {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.25;
  letter-spacing: 0.025rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #6e6e6e;
  text-align: center;
  margin-bottom: 0.5rem;
}

.article-title {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.022rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 0.5rem;
}

.article-paragraph {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.1875rem;
  line-height: 1.5;
  letter-spacing: -0.015rem;
  font-weight: 400;
  color: #515151;
  text-align: center;
}

.footer-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.footer-paragraph {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.5;
  letter-spacing: -0.0025rem;
  font-weight: 400;
  color: #6e6e6e;
  text-align: center;
}

.love {
  color: #2e70df;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
