// Imports

@import '0-plugins/plugins-dir'
@import '1-foundations/foundations-dir'
@import '2-base/base-dir'
@import '3-layouts/layouts-dir'
@import '4-components/components-dir'

// Stuff

*
    margin: 0
    padding: 0



header
    width: 100%
    padding-top: $dsi-layout-giga
    background-color: $background-color-primary

.header-wrapper
    +clearfix
    max-width: 736px
    margin-left: auto
    margin-right: auto
    background-color: $background-color-primary
        
.hero-title
    +dsi-display-3($text-color-primary,null)
    margin-bottom: $dsi-layout-kilo    
    
.hero-caption
    +dsi-body-s($text-color-tertiary,null)
    margin-bottom: $dsi-layout-giga
    
.hero-p
    +dsi-paragraph-l($text-color-secondary,left)
    
.button-group
    margin-top: $dsi-layout-peta
    text-align: center
    list-style-type: none
    li
        display: inline-block
        
.cta-buttons
  margin-top: 2rem
  text-align: left
  list-style-type: none
        
        
        
.section-wrapper
    max-width: 736px
    margin-left: auto
    margin-right: auto
    padding-left: $dsi-layout-mega
    padding-right: $dsi-layout-mega
    padding-top: $dsi-layout-mega
    padding-bottom: $dsi-layout-mega
    
.section-title
    +dsi-heading-1($text-color-primary,center)
    margin-bottom: $dsi-layout-mega

.section-title-inverse
    +dsi-heading-1($text-color-primary-inverse,center)
    margin-bottom: $dsi-layout-mega
    
.section-paragraph
    +dsi-paragraph-l($text-color-primary,center)
    
.section-paragraph-inverse
    +dsi-paragraph-l($text-color-primary-inverse,center)

        
a
    color: $text-color-primary
    text-decoration: underline
    text-decoration-color: $dsi-color-blue-500

a:hover
    color: $dsi-color-blue-500
        
        
#about-me, footer
    background-color: $background-color-primary
    
    
.article-img
    padding-top: $dsi-layout-tera
    background-size: $dsi-layout-tera
    margin-bottom: $dsi-layout-kilo

.article-img-1
    background: url(../img/1.svg) no-repeat center
    
.article-img-2
    background: url(../img/2.svg) no-repeat center

.article-img-3
    background: url(../img/3.svg) no-repeat center
    
.article-img-4
    background: url(../img/4.svg) no-repeat center

.article-img-5
    background: url(../img/5.svg) no-repeat center
    
.article-img-6
    background: url(../img/6.svg) no-repeat center
    
.article-img-7
    background: url(../img/7.svg) no-repeat center

.article-eyebrow
    +dsi-heading-5($text-color-tertiary,center)
    margin-bottom: $dsi-space-xs
    
.article-title
    +dsi-heading-2($text-color-primary,center)
    margin-bottom: $dsi-space-s
    
.article-paragraph
    +dsi-paragraph-l($text-color-secondary,center)
        
        
        
        
.blog-text-1
    +dsi-display-2($text-color-primary)
    margin-bottom: 3rem
    
.blog-text-2
    +dsi-heading-2($text-color-primary,left)
    margin-top: 2em
    margin-bottom: $dsi-space-m

.blog-text-3
    +dsi-heading-3($text-color-primary,left)
    margin-top: 1em
    margin-bottom: $dsi-space-xs
    padding-top: 0.5em

.blog-time-1
    +dsi-body-l($text-color-tertiary)
    margin-top: 2em
    margin-bottom: 2em
    
.blog-lead-paragraph
    +dsi-paragraph-xl($text-color-secondary,left)

.blog-paragraph
    margin-top: $dsi-space-xs
    +dsi-paragraph-l($text-color-secondary,left)
        
.blog-bullet
    padding-left: 2rem
        
.blog-highlight
    +dsi-paragraph-xl($text-color-tertiary,center)
    margin-top: 1rem
    margin-bottom: 1rem
    padding: 1.5rem
    
.blog-quote
    +dsi-paragraph-l($text-color-secondary,left)
    margin-top: $dsi-space-m
    margin-bottom: $dsi-space-m
    padding-left: $dsi-space-l
    border-left: solid
    border-color: $text-color-tertiary
    
.blog-divider
    border: 1px solid $background-color-tertiary
    margin-top: $dsi-layout-tera
    margin-bottom: $dsi-layout-giga

.blog-eyebrow
    +dsi-heading-5($text-color-tertiary,left)
    margin-bottom: $dsi-space-xs

.emoji
    margin-right: $dsi-space-xs

.footer-wrapper
    padding-left: $dsi-layout-kilo
    padding-right: $dsi-layout-kilo
    padding-top: $dsi-layout-mega
    padding-bottom: $dsi-layout-mega
    text-align: center

.footer-paragraph
    +dsi-body-s($text-color-primary,center)

.love
    color: $dsi-color-blue-500
        
    
    
    
.hidden
    display: none