<!DOCTYPE html>
 <html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Work Cristian Serrano - Digital Product Designer</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" type="image/png" href="https://cristianserran0.github.io/favicon.png" sizes="16x16 32x32">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/js/header-behaviour.js"></script>
    </head>
    
    <body>

        <div class="page-wrapper">

            <header class="nav-down">
                <nav id="top-navbar-container">
                    <ul id="top-navbar">
                        <li><a href="/">Home</a></li>
                        <li><a href="/cv">CV</a></li>
                        <li><a href="/work">Work</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </header>

            <div class="main-wrapper">

                <section id="hero">
                    <h1 class="hero-title">{Project title}</h1>
                    <h2 class="hero-subtitle">{COMPANY/CLIENT} · {year}</br><span class="blog-paragraph">{time} mins. read</span></h2>
                    <figure class="work-hero-figure">
                        <img class="work-image-large" src="https://source.unsplash.com/1280x724/?app,digital,web" alt="">
                    </figure>
                </section>
                
                <section class="intro">
                    <article class="overview">
                        <p class="blog-lead-paragraph">{Summary}</p>
                    </article>
                </section>

                <section id="basics">
                    <div class="section-table">
                        <div class="section-table-cell">
                            <h4 class="blog-text-3">Category</h4>
                            <p class="blog-paragraph">{categories}</p>
                        </div>
                        <div class="section-table-cell">
                            <h4 class="blog-text-3">Platforms</h4>
                            <p class="blog-paragraph">{platforms}</p>
                        </div>
                        <div class="section-table-cell">
                            <h4 class="blog-text-3">Role</h4>
                            <p class="blog-paragraph">{roles}</p>
                        </div>
                        <div class="section-table-cell">
                            <h4 class="blog-text-3">Time</h4>
                            <p class="blog-paragraph">{time}</p>
                        </div>
                    </div>
                </section>

                <hr class="bold-divider">

                <section id="about-me">
                    
                    <h2 class=blog-text-2>Context</h2>

                    <article>

                        <h2 class=blog-text-3>What is it</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                        <figure class="work-body-figure">
                            <img class="work-image-medium" src="https://source.unsplash.com/1280x721/?app,digital,web" alt="">
                            <figcaption class="work-image-caption">Image caption.</figcaption>
                        </figure>

                    </article>

                    <article>

                        <h2 class=blog-text-3>Problem definition</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                    </article>


                    <article>

                        <h2 class=blog-text-3>Objectives</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                    </article>

                    <article>

                        <h2 class=blog-text-3>Team</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                        <figure class="work-body-figure">
                            <img class="work-image-medium" src="https://source.unsplash.com/1280x722/?app,digital,web" alt="">
                            <figcaption class="work-image-caption">Image caption.</figcaption>
                        </figure>

                        <figure class="work-body-figure">
                            <img class="work-image-medium" src="https://source.unsplash.com/1280x723/?app,digital,web" alt="">
                            <figcaption class="work-image-caption">Image caption.</figcaption>
                        </figure>

                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world.</p>

                    </article>

                </section>

                <section id="about-me">
                
                    <h2 class=blog-text-2>Research</h2>

                    <article>

                        <figure class="work-body-figure">
                            <img class="work-image-large" src="https://source.unsplash.com/1280x724/?app,digital,web" alt="">
                            <figcaption class="work-image-caption">Image caption.</figcaption>
                        </figure>

                        <h2 class=blog-text-3>What is it</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                    </article>

                    <article>

                        <h2 class=blog-text-3>Objectives</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                    </article>

                    <article>

                        <h2 class=blog-text-3>Team</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                        <figure class="work-body-figure">
                            <img class="work-image-medium" src="https://source.unsplash.com/1280x725/?app,digital,web" alt="">
                            <figcaption class="work-image-caption">Image caption.</figcaption>
                        </figure>

                        <figure class="work-body-figure">
                            <img class="work-image-medium" src="https://source.unsplash.com/1280x726/?app,digital,web" alt="">
                            <figcaption class="work-image-caption">Image caption.</figcaption>
                        </figure>

                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world.</p>

                    </article>

                </section>

                <section id="about-me">
                
                    <h2 class=blog-text-2>Ideation</h2>

                    <article>

                        <h2 class=blog-text-3>What is it</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                        <figure class="work-body-figure">
                            <img class="work-image-large" src="https://source.unsplash.com/1280x727/?app,digital,web" alt="">
                            <figcaption class="work-image-caption">Image caption.</figcaption>
                        </figure>

                    </article>

                    <article>

                        <h2 class=blog-text-3>Objectives</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                    </article>

                    <article>

                        <h2 class=blog-text-3>Team</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                        <figure class="work-body-figure">
                            <img class="work-image-medium" src="https://source.unsplash.com/1280x728/?app,digital,web" alt="">
                            <figcaption class="work-image-caption">Image caption.</figcaption>
                        </figure>

                        <figure class="work-body-figure">
                            <img class="work-image-medium" src="https://source.unsplash.com/1280x729/?app,digital,web" alt="">
                            <figcaption class="work-image-caption">Image caption.</figcaption>
                        </figure>

                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world.</p>

                    </article>

                </section>

                <section id="about-me">
                
                    <h2 class=blog-text-2>Visual Design</h2>

                    <article>

                        <h2 class=blog-text-3>What is it</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                        <figure class="work-body-figure">
                            <img class="work-image-large" src="https://source.unsplash.com/1281x720/?app,digital,web" alt="">
                            <figcaption class="work-image-caption">Image caption.</figcaption>
                        </figure>

                    </article>

                    <article>

                        <h2 class=blog-text-3>Objectives</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                    </article>

                    <article>

                        <h2 class=blog-text-3>Team</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                        <figure class="work-body-figure">
                            <img class="work-image-medium" src="https://source.unsplash.com/1282x722/?app,digital,web" alt="">
                            <figcaption class="work-image-caption">Image caption.</figcaption>
                        </figure>

                        <figure class="work-body-figure">
                            <img class="work-image-medium" src="https://source.unsplash.com/1283x723/?app,digital,web" alt="">
                            <figcaption class="work-image-caption">Image caption.</figcaption>
                        </figure>

                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world.</p>

                    </article>

                </section>

                <section id="about-me">
                
                    <h2 class=blog-text-2>What's next</h2>

                    <article>

                        <h2 class=blog-text-3>Learnings</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                        <figure class="work-body-figure">
                            <img class="work-image-large" src="https://source.unsplash.com/1284x721/?app,digital,web" alt="">
                            <figcaption class="work-image-caption">Image caption.</figcaption>
                        </figure>

                    </article>

                    <article>

                        <h2 class=blog-text-3>Next steps</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                    </article>

                    <article>

                        <h2 class=blog-text-3>Team</h2>
                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world. I'm curious by nature and I often find myself thinking about how everything around me works, and how can I make it better. Weirdly enough, this kind of correlates to the fact that I seem to have an <a href="https://www.16personalities.com/intp-personality">Assertive Logician</a> type of personality.</p>

                        <figure class="work-body-figure">
                            <img class="work-image-medium" src="https://source.unsplash.com/1285x722/?app,digital,web" alt="">
                            <figcaption class="work-image-caption">Image caption.</figcaption>
                        </figure>

                        <figure class="work-body-figure">
                            <img class="work-image-medium" src="https://source.unsplash.com/1286x723/?app,digital,web" alt="">
                            <figcaption class="work-image-caption">Image caption.</figcaption>
                        </figure>

                        <p class="blog-paragraph">Design isn't just my job, my role, or something that I’m good at. Being a designer is something that I just am, it’s about the way I see the world.</p>

                    </article>

                </section>

                <section>
                    <ul>
                        <li>Your research process from a clear problem definition</li>
                        <li>Teamwork / collaboration</li>
                        <li>Interaction design</li>
                        <li>Visual design</li>
                        <li>Self-reflection</li>
                    </ul>
                </section>

                <div class="end-mark-wrapper">
                    <p class="end-mark">◼︎</p>
                </div>

                <section>
                    <nav class="centered-navbar">
                        <ul id="work-navbar">
                            <li><a href="../">Work 1</a></li>
                            <li><a href="../">Work 2</a></li>
                            <li><a href="../">Work 3</a></li>
                            <li><a href="../">Work 4</a></li>
                        </ul>
                    </nav>
                </section>

                <footer>
                    <div class="footer-wrapper">
                        <p class="footer-paragraph">Handcrafted with <span class="love">♥</span> in La Plata, Argentina.</p>
                        <p class="footer-paragraph">&copy;2021 Cristian Serrano</p>
                    </div>
                </footer>

            </div> <!-- main wrapper -->
        
        </div> <!-- page wrapper -->

    </body>

</html>